<<<<<<< HEAD
/* Styles for the progress bar */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

#wrapper {
  border: 3px solid rgb(183, 187, 187);
  width: 33rem;
  border-radius: 8px;
  background-color: rgb(243, 243, 236);
}

#clickable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

h2 {
  margin: 7px 0;
  text-align: center;
}

.skills {
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(183, 187, 187);
  border-radius: 8px;
  background-color: rgb(243, 243, 236);
  margin-bottom: 0;
  width: 10rem;
  margin-top: 10px;
}

#hide {
  display: none;
}

/* Container for the toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-bottom: 5px;
}

/* Hide default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The track */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border: 2px solid #f0f0f0;
  box-shadow: 1px 2px 5px rgb(108, 106, 106);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.slider:hover {
  border: 2px solid rgb(186, 241, 185);
}

/* The circular slider */
.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked + .slider {
  background-color: #4caf50;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(26px);
}

.skill-bar {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(197, 189, 189);
}

.bar {
  width: 100%;
  height: 7px;
  border: 1px solid rgb(197, 189, 189);
  background-color: rgb(243, 243, 236);
  margin: 2px 0;
}

#sk-1 {
  background-color: #3baa3f;
}

#sk-2 {
  background-color: #3baa3f;
}

hr {
  margin: 10px;
  border: 1px solid rgb(218, 218, 218);
}

#progress-container {
  width: 30rem;
  margin: 20px;
  align-items: center;
  border-radius: 25px;
  border: 2px solid rgb(197, 189, 189);
  background-color: lightgrey;
  overflow: hidden;
}

#progress-container:hover #progress-bar-inner {
  width: 100%;
  transition: width 0.9s ease-in-out;
  color: white;
}

#progress-bar-inner {
  height: 20px;
  width: 0%;
  background-color: #3baa3f;
  text-align: center;
  line-height: 20px;
  color: lightgray;
  border-radius: 25px;
  transition: width 0.9s ease-in-out;
=======
/* Example of using a downloaded image as a background */
body {
  background-image: url("images/blue-tit-7139677_640.jpg");
  background-size: cover;
  background-position: center;
}

img {
  height: 200px;
>>>>>>> f586ba200f1e1b5501a888e1b0630b30d4e079ad
}
